{% extends 'layouts/main_layout.html' %}

{% block content %}


<div class="container">
	<div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-6">
            {% if user.is_authenticated %}

                <div class="media">
                    <a class="media-left" href="#">
                        <img alt="" class="media-object img-rounded" height="35px" width="35px" src="http://placehold.it/35x35">
                    </a>
                    <div class="media-body">
                        <form method="post" action="{% url 'message' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group has-feedback">

                                <div class="input-group add-on">
                                    <input name="status" type="text" placeholder="Chirp something" class="form-control">
                                    <div class="input-group-btn">
                                        <label for="image" class="btn btn-default"><i class="glyphicon glyphicon-camera"></i></label>
                                    </div>
                                </div>

                                <input type="file" name="image" id="image" class="inputfile" />

                                {% if form.errors.items %}
                                    <div class="alert alert-danger">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        {% for error in form.status.errors %}
                                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                                            {{ error }}
                                        {% endfor %}
                                        {% for error in form.image.errors %}
                                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <br>
                                <button class="btn btn-info pull-right">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}

            <br>

            {% for message in messages %}
                {% include 'partials/message.html' with message=message %}
                <hr>
            {% endfor %}
		</div>
        <div class="col-sm-3">

        </div>
    </div>
</div>

{% endblock %}