.profile-image{
    cursor: pointer;
}

.message-image{
    max-width: 300px;
    max-height: 200px;
    margin: auto;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

/*Messages style*/
.testimonial{
    margin-bottom: 10px;
}

.testimonial-section {
    width: 100%;
    height: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #fff;
    margin-left: 15px;
    word-wrap: break-word;
}
.testimonial-section:after {
    top: 10px;
    left: -30px;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #fff;
    border-width: 15px;
    transform: rotate(90deg);
}

.testimonial-desc {
    text-align:left;
}
.testimonial-desc img {
    border: 1px solid #f5f5f5;
    border-radius: 150px;
    height: 70px;
    padding: 3px;
    width: 70px;
    display:inline-block;
    vertical-align: top;
}

.testimonial-writer{
    display: inline-block;
    vertical-align: bottom;
    padding-left: 10px;
}

.testimonial-writer-name{
    font-weight: bold;
}
/*---- Outlined Styles ----*/
.testimonial.testimonial-default{

}
.testimonial.testimonial-default .testimonial-section{
    border-color: #777;
}

    .testimonial.testimonial-default .testimonial-section:after{
        border-top-color: #777;
    }

.testimonial.testimonial-default .testimonial-desc{

}

.testimonial.testimonial-default .testimonial-desc img{
    border-color: #777;
}

.testimonial.testimonial-default .testimonial-writer-name{
    color: #777;
}
